@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("./Experience/styles/Experience.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #333333;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
